-r ./requirements-package.in
-r ./optional-package.in

pytest
pytest-cov
flake8
pytest-mypy
pytest-isort
types-boto3
types-botocore
types-setuptools
pandas-stubs
hypothesis
httpx
respx
geodatasets
ipdb
h5py
